input.error { 
/*
border: 1px double #ff0000;
background:#fff; 
	line-height:21px;
text-align:left;
	vertical-align:middle;
	width:110px;
	*/
	}
label.error {
	color:#FF9933;background:transparent url(../images/onError.gif) no-repeat;padding-left:25px; display: none;}
}

b.rtop, b.rbottom{display:block;background: #FFFFFF} 
b.rtop b, b.rbottom b{
	display:block;height: 1px;overflow: hidden; background: #9BD1FA ;width:2px;
} 
b.r1{margin: 0 5px} 
b.r2{margin: 0 3px} 
b.r3{margin: 0 2px} 
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px} 

.fl{ float:left;}
.fr{ float:right;}
 

div.error {
   	float: left;
    /*font-size: 12px;*/
    width: 214px;
	margin: 3px;
    padding: 0;
}

 .error p {
	 margin: 0;
}

.error .errmsgP {
	/*BORDER-RIGHT: #ddd 1px solid;*/
	PADDING-RIGHT: 10px; 
	/*BORDER-TOP: #ddd 1px solid;*/ 
	PADDING-LEFT: 23px; 
	BACKGROUND: url("../images/msg_bg.png") no-repeat; 
	FLOAT: left; 
	PADDING-BOTTOM: 0px; 
	/*BORDER-LEFT: #ddd 1px solid; */
	COLOR: #404040;
	LINE-HEIGHT: 18px; 
	PADDING-TOP: 2px;
	/*BORDER-BOTTOM: #ddd 1px solid*/
}

.error .errmsgP  {
	BACKGROUND-POSITION: 3px 2px; BORDER-LEFT-COLOR: #ff8080; BORDER-BOTTOM-COLOR: #ff8080; BORDER-TOP-COLOR: #ff8080; BACKGROUND-COLOR: #fff2f2; BORDER-RIGHT-COLOR: #ff8080
}
